<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Lab Rat</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div style="height: 0; width: 0; left: -90px; position: absolute" id="authenticator" th:text="${#authorization.expression('isAuthenticated()')}">
    </div>
    <br/><a href="/logout">Logout</a>
    Logged in as: <span sec:authentication="name">Bob</span>
    <div id="app"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var isAuthenticated = document.getElementById("authenticator").innerHTML

        /*]]>*/
    </script>

    <div style="width: 250px;">

        auth = ${#authorization.expression('isAuthenticated()')}

    <!--<form action="/" role="form" method="POST" >-->
    <form th:action="@{/login}" method="post">
        <input className="form-control" placeholder="Username" ref="loginID" type="text" autofocus="" name="username" />
        <input className="form-control" placeholder="Password" ref="password" type="password" name="password" />
        <input type="checkbox" label="Remember Me" />
        <button type="submit" bsSize="large" bsStyle="success">Login</button>
    </form>
    </div>
</body>
</html>